
/* -----------login ----start--------*/
.login-image-bg{
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.login-solid-bg::before{
  background: #00B0FF;
  position: absolute;
  width: 70%;
  height: 100%;
  top:0;
  left: 0;
  content: '';
  -webkit-clip-path: polygon(0 0, 90% 0, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 90% 0, 75% 100%, 0% 100%);
  z-index: -1;
}
.login-image-bg::before{
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url(images/login-bg-inspection-blue.png); */
  background-attachment: fixed;
  background-position: center;
  background-color: #333;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -3;
  position: absolute;
  top:0;
}
.login-boxWhite{
  width: 400px;
  padding: 10px 50px;
  height: 550px;
  background: #FFFFFF;
  box-shadow: 4px 4px 43px rgba(0, 0, 0, 0.43);
  border-radius: 10px;
  position: relative;
}
.loginContentBox{
  width: 400px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 15%;
}

.logo-box{
  text-align: center;
}
.inspection-main-box{
  display:flex;
  justify-content: space-between;
}
.inspection-type:hover,
.inspection-type.active{
  background: #00B2FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
