<section class="login-image-bg">
  <div class="login-solid-bg ">
      <div class="loginContentBox" >
          <div class="login-boxWhite">
              <div class="logo-box">
              </div>
              <div class="row">
                   <form class="" action="" method="post">
                        <input type="text" name="" value="" class="input-box" placeholder="">
                        <input type="password" placeholder="Enter " class="input-box" name="" value="">
                        <button type="submit" id="btn "  class="btn-block" data-style="expand-left" >
                           <span>Sign In to</span>
                        </button>

                   </form>
              </div>
          </div>
      </div>
  </div>
</section>
