.login-color-bg{
  width: 100%;
  min-height: calc(100vh - 128px);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5vw;
  overflow-y: auto;
}
.login-boxWhite{
  height: auto;
  text-align: center;
  width: 500px;
}

.mat-form-field{
  width: 100%;
}
app-footer{
  position: relative;
  bottom:0px;
  width: 100%;
}
.col{
  flex: 1; 
}
