.login-color-bg{
  width: 100vw;
  height: calc(100vh - 120px);
  display: flex;
  background: #3366ff;
  justify-content: center;
  align-items: center;
}
.login-boxWhite{
  height: auto;
  text-align: center;
  width: 500px;

}
.mat-form-field{
  width: 100%;
}
app-footer{
  position: fixed;
  bottom:0px;
  width: 100%;
}
