<app-header></app-header>
   <main class="content">
    <div class="container">
      <div class="row">
         <div class="col-4">
           <mat-card>
             <div class="row">
               <h3 class="mat-h3">Total Sales</h3>
                <div class="m-auto"></div>
                <mat-chip-list aria-label="primary">
                  <mat-chip color="primary" selected>12% <mat-icon>show_chart</mat-icon>
                  </mat-chip>
                </mat-chip-list>
             </div>
            <mat-card-content>
              <h4 class="mat-h4">22,450</h4>
              <small>Monthly</small>
            </mat-card-content>
          </mat-card>
        </div>
         <div class="col-4">
           <mat-card>
             <div class="row">
               <h3 class="mat-h3">Total Sales</h3>
                <div class="m-auto"></div>
                <mat-chip-list aria-label="primary">
                  <mat-chip color="primary" selected>12% <mat-icon>show_chart</mat-icon>
                  </mat-chip>
                </mat-chip-list>
             </div>
            <mat-card-content>
              <h4 class="mat-h4">22,450</h4>
              <small>Monthly</small>
            </mat-card-content>
          </mat-card>
        </div>
         <div class="col-4">
           <mat-card>
             <div class="row">
               <h3 class="mat-h3">Total Sales</h3>
                <div class="m-auto"></div>
                <mat-chip-list aria-label="primary">
                  <mat-chip color="primary" selected>12% <mat-icon>show_chart</mat-icon>
                  </mat-chip>
                </mat-chip-list>
             </div>
            <mat-card-content>
              <h4 class="mat-h4">22,450</h4>
              <small>Monthly</small>
            </mat-card-content>
          </mat-card>
        </div>
         <div class="col-4">
           <mat-card>
             <div class="row">
               <h3 class="mat-h3">Total Sales</h3>
                <div class="m-auto"></div>
                <mat-chip-list aria-label="primary">
                  <mat-chip color="primary" selected>12% <mat-icon>show_chart</mat-icon>
                  </mat-chip>
                </mat-chip-list>
             </div>
            <mat-card-content>
              <h4 class="mat-h4">22,450</h4>
              <small>Monthly</small>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
   </main>
<app-footer></app-footer>
