<div class="sidenav-Menu">
    <mat-nav-list>
       <a href="#"  mat-list-item>
          <mat-icon matListIcon>dashboard</mat-icon>
          <h6 matLine>Dashboard</h6>
       </a>
      <mat-divider></mat-divider>
      <a href="#" mat-list-item>
         <mat-icon matListIcon>home</mat-icon>
         <h6 matLine>Cards</h6>
      </a>
      <mat-divider></mat-divider>
      <a routerLink="/login" mat-list-item>
         <mat-icon matListIcon>home</mat-icon>
         <h6 matLine>Login</h6>
      </a>
      <mat-divider></mat-divider>
      <a href="#" mat-list-item>
         <mat-icon matListIcon>portrait</mat-icon>
         <h6 matLine>Profile</h6>
      </a>
    </mat-nav-list>

</div>
